body {
    background-color: aquamarine;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 60px;
    margin: 10px 0;
}
h4 {
    font-size: 28px;
    margin: 0;
}